In [61]:
import pandas as pd

data_paises = pd.read_csv("../InformacionGeneral/Internacional/Detalle_paises.csv")
del data_paises["WORLD_SN"]
del data_paises["ECDC_SN"]
del data_paises["OURWOR_SN"]
del data_paises["JHONH_SN"]
del data_paises["Early_SN"]

data_woldmeter = pd.read_csv("../worldometers.info/worldometers.csv")
columna_woldmeter = data_woldmeter.columns[1:]

for i in columna_woldmeter:
    data_woldmeter[i+"Worldmeter"] = data_woldmeter[i]
    del data_woldmeter[i]
    
merged_left = pd.merge(left=data_paises, right=data_woldmeter, how='left', left_on='WORLDM_Country,Other', right_on='Country,Other')

#data_europa = pd.read_csv("../ecdc.europa/ecdc_europa.csv")
#data_europa
data_ourworld_con = pd.read_csv("../ourworldindata.org/total-cases-covid-19.csv")
data_ourworld_dea = pd.read_csv("../ourworldindata.org/total-deaths-covid-19.csv")
#data_ourworld["Entity"].unique()
#data_ourworld
paises = []
confirmados = []
muertes = []
for i in data_ourworld_con["Entity"].unique():
    maximoConfirmado = max(data_ourworld_con[data_ourworld_con["Entity"] == i]["Total confirmed cases of COVID-19 (cases)"])
    maximoMuerte = max(data_ourworld_dea[data_ourworld_dea["Entity"] == i]["Total confirmed deaths due to COVID-19 (deaths)"])
    #print(i + " " + str(maximo))
    paises.append(i)
    confirmados.append(maximoConfirmado)
    muertes.append(maximoMuerte)

data_ourworld = pd.DataFrame({
    "paises": paises,
    "confirmadoOURWORLD":confirmados,
    "muertosOURWORLD": muertes    
}
)
merged_left = pd.merge(left=merged_left, right=data_ourworld, how='left', left_on='OURWORLD_Entity', right_on='paises')
del merged_left["paises"] 


data_jhon = pd.read_csv("../Johns_Hopkins-covid19/diario/ultimoRegistro.csv")
data_jhon

paises = []
confirmados = []
muertes = []
recuperados = []
activos = []
for i in data_jhon["Country_Region"].unique():
    maximoConfirmado = sum(data_jhon[data_jhon["Country_Region"] == i]["Confirmed"])
    maximoMuerte = sum(data_jhon[data_jhon["Country_Region"] == i]["Deaths"])
    maximoRecuperado = sum(data_jhon[data_jhon["Country_Region"] == i]["Recovered"])
    maximoActivo = sum(data_jhon[data_jhon["Country_Region"] == i]["Active"])
    #print(i + " " + str(maximo))
    paises.append(i)
    confirmados.append(maximoConfirmado)
    muertes.append(maximoMuerte)
    recuperados.append(maximoRecuperado)
    activos.append(maximoActivo)
    
data_jhon_salida = pd.DataFrame({
    "paises": paises,
    "confirmadoJHON":confirmados,
    "muertosJHON": muertes,
    "recuperadosJHON": recuperados,
    "activosJHON": activos
}
)
merged_left = pd.merge(left=merged_left, right=data_jhon_salida, how='left', left_on='JHONH_Country/Region', right_on='paises')
del merged_left["paises"] 
merged_left

,ID,Nombre Español,Nombre Ingles,region,sub-region,intermediate-region,alpha-2,alpha-3,Latitude (average),Longitude (average),...,Tot Cases/1M popWorldmeter,Deaths/1M popWorldmeter,Reported1st caseWorldmeter,Primer casoWorldmeter,confirmadoOURWORLD,muertosOURWORLD,confirmadoJHON,muertosJHON,recuperadosJHON,activosJHON
0,1,Afganistán,Afghanistan,Asia,Southern Asia,NaN,AF,AFG,33.000000,65.000000,...,7.0,0.20,Feb 23,23-02-2020,235.0,4.0,273.0,6.0,10.0,257.0
1,2,Albania,Albania,Europe,Southern Europe,NaN,AL,ALB,41.000000,20.000000,...,106.0,6.00,Mar 07,07-03-2020,277.0,16.0,277.0,16.0,76.0,185.0
2,3,Alemania,Germany,Europe,Western Europe,NaN,DE,DEU,51.000000,9.000000,...,1064.0,14.00,Jan 26,26-01-2020,73522.0,872.0,84794.0,1107.0,22440.0,61247.0
3,4,Andorra,Andorra,Europe,Southern Europe,NaN,AD,AND,42.500000,1.600000,...,5682.0,207.00,Mar 01,01-03-2020,428.0,15.0,428.0,15.0,10.0,403.0
4,5,Angola,Angola,Africa,Sub-Saharan Africa,Middle Africa,AO,AGO,-12.500000,18.500000,...,0.2,0.06,Mar 19,19-03-2020,8.0,2.0,8.0,2.0,1.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,251,Islas Ultramarinas Menores de Estados Unidos,United States Minor Outlying Islands,Oceania,Micronesia,NaN,UM,UMI,19.283300,166.600000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,252,Åland,Åland Islands,Europe,Northern Europe,NaN,AX,ALA,60.193667,19.874097,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,253,Crucero Diamond Princess,Diamond Princess,Americas,Latin America and the Caribbean,Caribbean,BS,BHS,32.297500,-64.801389,...,NaN,NaN,Feb 04,04-02-2020,NaN,NaN,712.0,11.0,619.0,82.0
253,254,Crucero MS Zaandam,MS Zaandam,Europe,Western Europe,NaN,NL,NLD,51.916667,4.500000,...,NaN,NaN,Mar 26,26-03-2020,NaN,NaN,9.0,2.0,0.0,7.0
254,255,Casos en un transporte internacional Japón,Cases on an international conveyance Japan,Asia,Eastern Asia,NaN,JP,JPN,36.000000,138.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
data_early = pd.read_csv("../EarlyAlert/Current_Coronavirus_Cases_and_Deaths.csv")
#data_early.to_excel("test.xlsx")
data_early

paises = []
confirmados = []
muertes = []
recuperados = []
activos = []
for i in data_jhon["Country_Region"].unique():
    maximoConfirmado = sum(data_jhon[data_jhon["Country_Region"] == i]["Confirmed"])
    maximoMuerte = sum(data_jhon[data_jhon["Country_Region"] == i]["Deaths"])
    maximoRecuperado = sum(data_jhon[data_jhon["Country_Region"] == i]["Recovered"])
    maximoActivo = sum(data_jhon[data_jhon["Country_Region"] == i]["Active"])
    #print(i + " " + str(maximo))
    paises.append(i)
    confirmados.append(maximoConfirmado)
    muertes.append(maximoMuerte)
    recuperados.append(maximoRecuperado)
    activos.append(maximoActivo)

,NAME,COUNTRY,ISO_CODE,ISO_CC,ADMINTYPE,COUNTRYAFF,CONTINENT,LAND_TYPE,Confirmed,Deaths,x,y,ObjectId
0,Federacija Bosna i Hercegovina,Bosnia and Herzegovina,BABIH,BA,Autonomous Entity,Bosnia and Herzegovina,Europe,Primary land,243.0,10.0,17.536059,44.108097,1
1,Budapest,Hungary,https://koronavirus.gov.hu/terkepek/fertozottek,HU,Capital City,Hungary,Europe,Primary land,243.0,21.0,19.109246,47.484519,2
2,Kermanshah,Iran,https://en.irna.ir/,IR,Province,Iran,Asia,Primary land,243.0,2.0,46.649114,34.468749,3
3,Quaratine,South Korea,http://ncov.mohw.go.kr/index_main.jsp,KR,Metropolitan City,South Korea,Asia,Primary land,242.0,0.0,128.569235,35.834741,4
4,B?o-B?o,Chile,CLBI,CL,Region,Chile,South America,Primary land,240.0,2.0,-72.259136,-37.184463,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5758,Manyara,Tanzania,TZ26,TZ,Region,Tanzania,Africa,Primary land,NaN,NaN,36.505751,-4.636646,5759
5759,Mara,Tanzania,TZ13,TZ,Region,Tanzania,Africa,Primary land,NaN,NaN,34.139347,-1.722950,5760
5760,Mbeya,Tanzania,TZ14,TZ,Region,Tanzania,Africa,Primary land,NaN,NaN,33.359456,-8.231195,5761
5761,Mjini Magharibi,Tanzania,TZ15,TZ,Region,Tanzania,Africa,Small island,NaN,NaN,39.214269,-6.271229,5762
5762,Mjini Magharibi,Tanzania,TZ15,TZ,Region,Tanzania,Africa,Very small island,NaN,NaN,39.207102,-6.221108,5763

In [49]:
data_ourworld

          paises  confirmadoOURWORLD  muertosOURWORLD
0    Afghanistan                 235                4
1        Albania                 277               16
2        Algeria                 847               58
3        Andorra                 428               15
4         Angola                   8                2
..           ...                 ...              ...
199    Venezuela                 144                3
200      Vietnam                 239                0
201        World             1000249            51515
202       Zambia                  39                1
203     Zimbabwe                   8                1

[204 rows x 3 columns]