In [1]:
import pandas as pd
#https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/input/Covid-19.csv Principal
#https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto1/Covid-19.csv #Casos totales por comuna incremental:
# Casos totales por comuna
#https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto2/2020-03-30-CasosConfirmados.csv
#https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto2/2020-04-01-CasosConfirmados.csv
#https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto2/2020-04-03-CasosConfirmados.csv
#https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto2/2020-04-06-CasosConfirmados.csv
#https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto2/2020-04-08-CasosConfirmados.csv
#Casos totales por región incremental:
#https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto3/CasosTotalesCumulativo.csv
#Casos totales por región 
#https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto4/2020-03-03-CasosConfirmados-totalRegional.csv
#...
#https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto4/2020-04-09-CasosConfirmados-totalRegional.csv
#Casos totales recuperados
# https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto5/recuperados.csv

In [24]:
data = realizarColumna(pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/input/Covid-19.csv"),3)
data

                         Region            Comuna  Poblacion Fecha
0            Arica y Parinacota             Arica     247552     6
1            Arica y Parinacota             Arica     247552     6
2            Arica y Parinacota             Arica     247552    12
3            Arica y Parinacota             Arica     247552    41
4            Arica y Parinacota             Arica     247552    63
...                         ...               ...        ...   ...
1725  Magallanes y la Antartica  Torres del Paine       1021     -
1726  Magallanes y la Antartica  Torres del Paine       1021     -
1727  Magallanes y la Antartica  Torres del Paine       1021     -
1728  Magallanes y la Antartica  Torres del Paine       1021     -
1729  Magallanes y la Antartica  Torres del Paine       1021     -

[1730 rows x 4 columns]

In [10]:
lista = list(data.iterrows())
data_aux = data
del data_aux["Tasa"]
data_aux.columns

Index(['Region', 'Comuna', 'Poblacion', '2020-03-30', '2020-04-01',
       '2020-04-03', '2020-04-06', '2020-04-08'],
      dtype='object')

In [23]:
def realizarColumna(data, largo):
    lista = list(data.iterrows())
    data_aux = data
    del data_aux["Tasa"]
    data_aux.columns
    salida = []
    for i in lista:
        aux = {"Region":i[1]["Region"],"Comuna":i[1]["Comuna"],"Poblacion":i[1]["Poblacion"]}
        for j in data_aux.columns[largo:]:
            entrada = aux.copy()
            #entrada[j] = 
            entrada["Fecha"] = i[1][j]
            salida.append(entrada.copy())
    return pd.DataFrame(salida)

In [20]:
data_final = pd.DataFrame(salida)
data_final

                         Region            Comuna  Poblacion Fecha
0            Arica y Parinacota             Arica     247552     6
1            Arica y Parinacota             Arica     247552     6
2            Arica y Parinacota             Arica     247552    12
3            Arica y Parinacota             Arica     247552    41
4            Arica y Parinacota             Arica     247552    63
...                         ...               ...        ...   ...
1725  Magallanes y la Antartica  Torres del Paine       1021     -
1726  Magallanes y la Antartica  Torres del Paine       1021     -
1727  Magallanes y la Antartica  Torres del Paine       1021     -
1728  Magallanes y la Antartica  Torres del Paine       1021     -
1729  Magallanes y la Antartica  Torres del Paine       1021     -

[1730 rows x 4 columns]